<!DOCTYPE html>

<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Develop.GitHub - {{ page.title }}</title>
	<script type="text/javascript" src="../js/jquery-1.2.6.pack.js"></script>
	<script type="text/javascript" src="../js/thickbox-compressed.js"></script>
	<script type="text/javascript" src="../js/jquery.corner.js"></script>

	<link rel="stylesheet" href="../css/screen.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="../css/print.css" type="text/css" media="print">
  <!--[if IE]>
    <link rel="stylesheet" href="../css/ie.css" type="text/css" media="screen, projection">
  <![endif]-->

	<link rel="stylesheet" href="../css/style.css" type="text/css" media="screen"/>
  <link rel="stylesheet" href="../css/thickbox.css" type="text/css" media="screen"/>
</head>

<body>

  <div id="header-wrapper">
    <div id="header">
      <div>
        <a class="logo" href="/"><img src="/images/logo.png" /></a>
        <ul class="nav">
          <li><a href="/v3/">API v3</a></li>
          <li><a href="http://develop.github.com">API v2</a></li>
          <li><a
            href="http://support.github.com/discussions/api">Support</a></li>
        </ul>
      </div>
    </div><!-- #header -->
  </div><!-- #header-wrapper -->

<div id="wrapper">
  <div id="content">
    {{ content }}
  </div>

  <div class="sidebar-shell">
    <div class="sidebar-module">
      <ul>
        <li>
          <h3><a href="p/general.html">General API Info</a></h3>
          <span class="spacer"></span>
        </li>
        <li>
          <h3><a href="p/users.html">User API</a></h3>
          <span class="spacer"></span>
        </li>
        <li>
          <h3><a href="p/orgs.html">Organization API</a></h3>
          <span class="spacer"></span>
        </li>
        <li>
          <h3><a href="p/pulls.html">Pull Request API</a></h3>
          <span class="spacer"></span>
        </li>
        <li>
          <h3><a href="p/issues.html">Issues API</a></h3>
          <span class="spacer"></span>
        </li>
        <li>
          <h3><a href="p/gist.html">Gist API</a></h3>
          <span class="spacer"></span>
        </li>
        <li>
          <h3><a href="p/oauth.html">OAuth Info</a></h3>
          <span class="spacer"></span>
        </li>
        <li>
          <h3><a href="p/repo.html">Repository API</a></h3>
          <span class="spacer"></span>
        </li>
        <li>
          <h3><a href="p/commits.html">Commit API</a></h3>
          <span class="spacer"></span>
        </li>
        <li>
          <h3><a href="p/object.html">Object API</a></h3>
          <span class="spacer"></span>
        </li>
        <li>
          <h3><a href="p/network.html">Network API</a></h3>
          <span class="spacer"></span>
        </li>
        <li>
          <h3><a href="p/libraries.html">GitHub Libraries</a></h3>
          <span class="spacer"></span>
        </li>
      </ul>
    </div> <!-- /sidebar-module -->
  </div><!-- /sidebar-shell -->

</div><!-- #wrapper -->

  <div id="footer-wrapper">
    <div id="footer" class="container_12">
      <div id="bottom-nav">
        <ul class="nav">
          <li><a href="https://github.com/blog">Blog</a></li>
          <li><a href="http://support.github.com">Support</a></li>
          <li><a href="https://github.com/contact">Contact</a></li>
          <li><a href="https://twitter.com/github">Twitter</a></li>
          <li><a href="http://help.github.com/security/">Security</a></li>
          <li><a href="https://github.com/github/developer.github.com">Source</a></li>
        </ul>
        <ul class="nav">
          <li>&copy; 2011 GitHub Inc. All rights
            reserved.</li>
          <li><a href="http://help.github.com/terms/">Terms of Service</a></li>
          <li><a href="http://help.github.com/privacy/">Privacy Policy</a></li>
        </ul>
      </div>
      <div id="bottom-notice">
        <p class="rackspace">Powered by the <a href="http://rackspace.com" target="_blank">Dedicated Servers</a> and <a href="http://rackspacecloud.com" target="_blank">Cloud Computing</a> of Rackspace Hosting&reg;</p> 
      </div>
    </div><!-- #footer -->
  </div><!-- #footer-wrapper -->

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-3769691-2']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script');
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      ga.setAttribute('async', 'true');
      document.documentElement.firstChild.appendChild(ga);
    })();
  </script>
</body>
</html>
